h1{width: 100%;
    color: #ffa806;
    position: absolute;
    TOP:50%;
    LEFT:85%;
    transform: translate(-50%,-50%);
    text-align: right on bottom;
    }
    body {
        background-color: #87ceeb;;
        display: block;